<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Maya Care</title>
<link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>



  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/123bd1392c.js" crossorigin="anonymous"></script>

  <!-- CSS STYLE SHEET -->
  <link rel="stylesheet" href="styles.css">

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,800,800i,900,900i|Ubuntu&display=swap" rel="stylesheet">

<body>

  <section id="title">
    <div class="container-fluid">



    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <a class="navbar-brand" href="">Maya Care</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutme.html">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://mayacare.org/what-we-do">What We Do</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="logsheet.html">LogSheet</a>
        </li>
        

      </ul>
    </div>
  </nav>




    <!-- Title -->

    <div class="row">
      <div class="col-lg-6">
        <h1>The Next best thing to  Family</h1>
        <a href="signin.html"><button type="submit" class="btn btn-outline-light btn-lg download-button"></i>SIGN IN</button></a>
        <form action="/registration" method="GET">
        {{!-- <a href="registration.html"> --}}
        <button type="submit" class="btn btn-outline-light btn-lg download-button"></i>REGISTER</button></a>
        </form>
        
        
        
      </div>


    <div class="col-lg-6">
      <img class="title-image"src="imagess/logo.png" alt="iphone-mockup">
    </div>
    </div>
    </div>
  </section>


  <!-- Features -->

  <section id="features">
    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle  fa-4x"></i>
        <h3>Volunteer With Us</h3>
        <p>Gift 90 minutes of your time whenever possible!</p>
      </div>
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-bullseye  fa-4x"></i>
        <h3>Donate Us</h3>
        <p>Make a voluntary donation to support the cause of Maya CARE</p>
      </div>
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-heart fa-4x"></i>
        <h3>Bindu</h3>
        <p>Disabilities with great abilities.</p>
      </div>
    </div>



  </section>


  <!-- Testimonials -->

  <section id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <p class="testi">I am thankful to Maya CARE Foundation for sending a buddy to my 87 yr old Father in law. Mr. Shende (volunteer) who visits us once a week or fortnight, chats with my father in law who has mild alzheimer's and mobility restrictions. Mr. Shende instilled confidence in him, convinced him to do a lot of good things.</p>

          <em>Ms. Swati Korde</em>
        </div>

        <div class="carousel-item">
          <p class="testi">The obvious recognition by Maya CARE, an old person does not necessarily have to be bed-ridden or incapacitated, in order to gain help and attention, and lead a pleasant, cheerful life - this is what makes Maya CARE deserving of its name.</p>
          <em>Ms. Surayya Tandon</em>
        </div>

      </div>
  <a class="carousel-control-prev" role="button" href="#testimonial-carousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>

  </a>
  <a class="carousel-control-next" role="button" href="#testimonial-carousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>

  </a>
</div>





  </section>


  <!-- Press -->

  <section id="press">
    <img class="press-logo" src="imagess/img1.png" alt="tc-logo">
    <img class="press-logo" src="imagess/img2.png" alt="tnw-logo">
    <img class="press-logo" src="imagess/img3.png" alt="biz-insider-logo">
    <img class="press-logo" src="imagess/img4.png" alt="mashable-logo">

  </section>




  <div class="container px-4 py-5" id="featured-3">
    <h2 class="hey">Strengths Of Maya</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <i class="fa fa-square" aria-hidden="true"></i>
        <h2 class="hey">Vision</h2>
        <p  class="feat">To become synonymous with elderly care. Caring for the senior citizens, giving them friendly company and independence just like their family members.</p>
      </div>
      <div class="feature col">
        <i class="fa fa-square" aria-hidden="true"></i>
        <h2 class="hey">Mission</h2>
        <p class="feat">To provide services for the senior citizens in a professional and safe environment through our expanding network of trained volunteers.</p>
      </div>
      <div class="feature col">
        <i class="fa fa-square" aria-hidden="true"></i>
        <h2 class="hey">Pledge</h2>
        <p class="feat">Maya Care aims to fulfil the growing need for enhancing the comfort of senior citizens living in India. During our interactions with senior citizens, each of us at Maya CARE pledge to conduct our duties</p>
      </div>
    </div>
  </div>
  

<!--
  <footer id="footer">

    <p class="foot">Pravalika Manchikanti</p>

  </footer>
-->


</body>

</html>
